
<div class="controls"> 
	<%= f.text_field :category, :class => 'text-field', :placeholder => "distribution"%>
	<%= f.number_field :percent, :class => 'text-fied', :placeholder => "percent" %>
</div>
